.novedades__card {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.novedades__card--img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.novedades__card--titulo {
    font-size: var(--parrafoCuatro);
    color: #535354;
    margin: 15px 0;
    text-align: left;
    font-weight: 700;
    word-wrap: break-word;
}

.novedades__card--body {
    color: #535354;
    font-size: var(--parrafoDos);
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    word-wrap: break-word;
}
