body {
    background-color: #fff;
}

.proyectos {
    width: 100%;
    background-color: #fff;
}

.proyectos .imagenes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
}

.proyectos .imagenes img {
    width: 90%;
    padding: 20px 0;
    margin: auto;
}

.contenedor--proyectos {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0 100px 0;
    background-color: #fff;
}

.contenedor__item {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 20px;
    margin-bottom: 100px;
    padding: 20px;
}

.contenedor__item--imagen {
    animation: float 6s ease-in-out infinite;
    width: 90%;
    margin: auto;
}

.contenedor__item--texto {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    justify-content: space-between;
    text-align: justify;
}

.contenedor__item--titulo {
    font-size: var(--parrafoCinco);
}

.item__parrafo {
    font-size: var(--parrafoTres);
    font-weight: 400;
    line-height: 26px;
    color: #575758;
    margin: 20px 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transition: scale(1);
    }
}

.slider {
    height: 100%;
    max-height: 300px;
    width: 100%;
    position: relative;
}

.slider .contenedor {
    height: 100%;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.slider .slide {
    min-width: 100%;
    height: 300px;
    display: flex;

    position: relative;
}

.slider .slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.slider .slide .slide__footer {
    width: 100%;
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.6);

    color: #fff;
    font-size: 14px;

    position: absolute;
    bottom: 0;
}

.slider .controles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}

.slider .controles * {
    pointer-events: all;
}

.slider .controles span#like {
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all linear 0.2s;
    font-size: 30px;
    cursor: pointer;
}

.slider .controles span#like path {
    stroke: white;
    stroke-width: 30px;
}

.slider .controles span#like.active {
    color: rgb(236, 78, 78);
}

.slider .controles span#label {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: rgb(146, 60, 185);
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
}

.slider .controles span.anterior,
.slider .controles span.siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all linear 0.2s;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.slider .controles span.anterior:hover,
.slider .controles span.siguiente:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

.slider .controles span.anterior {
    left: 10px;
}

.slider .controles span.siguiente {
    right: 10px;
}

.slider .controles .dots {
    list-style-type: none;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .controles .dots .dot {
    margin-right: 1%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.slider .controles .dots .dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.lightview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.lightview.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .contenedor__item {
        grid-template-columns: 1fr;
        max-width: 600px;
        margin: auto;
    }
}
