.PortadaIndex {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/portada-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.PortadaIndex__wave {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.PortadaIndex h1 {
    color: #fff;
    /*	font-size: var(--parrafoDiez);*/
    font-size: 7vw;
}

.mision {
    min-height: 500px; /*originalmente era 400*/
    padding: 0 150px 150px 150px; /*50px 150px*/
    text-align: center;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.mision p {
    font-size: var(--parrafoCinco);
    font-weight: 900;
}

.mision span {
    color: var(--rosado);
}

.subtitle {
    font-size: var(--parrafoSiete);
    font-weight: 900;
    width: 100%;
    text-align: center;
    color: #535354;
}

.section2 {
    padding: 150px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: #f8fafd;
    position: relative;
}

.section2 .wave {
    position: absolute;
    width: 100%;
    bottom: -1px;
    right: 0;
    left: 0;
}

.section2 .trabajos {
    padding: 50px;
    display: grid;
    grid-gap: 50px;
    /*	grid-template-columns: repeat(3, minmax(300px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section2 .trabajos .item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
}

.section2 .trabajos .item img {
    height: 200px;
    margin-bottom: 50px;
}

.section2 .trabajos .item p {
    font-size: var(--parrafoTres);
    font-weight: 400;
    line-height: 26px;
}

.QueHacemos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    max-width: 1300px;
    margin: auto;
    background-color: #fff;
    /*position: relative;*/
}

.QueHacemos p {
    padding: 50px 0;
}

.QueHacemos .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 350px;
}

.QueHacemos .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.QueHacemos .item .texto {
    padding: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.QueHacemos .item .texto h2 {
    font-size: var(--parrafoCinco);
    font-weight: 900;
    color: #535354;
}

.QueHacemos .item .texto p {
    font-size: var(--parrafoTres);
    margin: 30px 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
}

.QueHacemos .item .texto a,
.enviar {
    font-size: var(--parrafoTres);
    padding: 15px 30px;
    border-radius: var(--borderRadius);
    color: #000;
    transition: var(--transicion);
    background: none;
}

.QueHacemos .item .texto .saberMas1 {
    border: 1px solid var(--verde);
    color: var(--verde);
}

.QueHacemos .item .texto .saberMas2,
.enviar {
    border: 1px solid var(--rosado);
    color: var(--rosado);
}

.QueHacemos .item .texto .saberMas3 {
    border: 1px solid var(--morado);
    color: var(--morado);
}

.QueHacemos .item .texto .saberMas1:hover {
    color: #fff;
    background: var(--verde);
}

.QueHacemos .item .texto .saberMas2:hover {
    color: #fff;
    background: var(--rosado);
}

.QueHacemos .item .texto .saberMas3:hover {
    color: #fff;
    background: var(--morado);
}

.QueHacemos .item .right {
    -ms-align-items: flex-end;
    align-items: flex-end;
    text-align: right !important;
}

.QueHacemos .item .ocultar {
    display: none;
}

.section4 {
    background: #fff;
    min-height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.section4 .contacto {
    width: 100%;
    max-width: 600px;
}

.section4 .contacto .error {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(214, 68, 68);
    color: white;
}

.section4 .contacto p {
    font-size: var(--parrafoSiete);
    font-weight: 900;
    color: #535354;
    text-align: center;
    margin: 50px 0;
}

.section4 .contacto .formulario {
    max-width: 700px;
    padding: 0 1rem;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: flex-start;
    justify-content: center;
}

.section4 .contacto .formulario input,
.section4 .contacto .formulario textarea {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    background: none;
    border: none;
    outline: none;
    resize: none;
    padding: 30px 0px;
    color: #000;
    font-size: 20px;
    border-bottom: 2px solid var(--rosado);
    font-size: 18px;
}

textarea {
    margin-bottom: 2rem;
    min-height: 200px;
}

.section4 .contacto .formulario input {
    margin-bottom: 20px;
}

.section4 .contacto .enviar {
    margin: 30px 0;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 45px;
    margin: 2rem auto;
}

.section4 .contacto .enviar:hover {
    background: var(--rosado);
    color: #fff;
}

.section5 {
    background: #f8fafd;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    -ms-align-items: center;
    align-items: center;
    padding: 100px 0;
}

.novedades {
    width: 100%;
    max-width: 1300px;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 320px));
    justify-content: space-around;
    grid-gap: 50px;
    word-wrap: break-word;
}

.novedades .novedades__card .novedad img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.novedades .novedades__card .novedad .tituloNovedad {
    font-size: var(--parrafoCuatro);
    color: #535354;
    margin: 15px 0;
    text-align: left;
    font-weight: 700;
    word-wrap: break-word;
}

.novedades .novedades__card .novedad .copete {
    color: #535354;
    font-size: var(--parrafoDos);
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    word-wrap: break-word;
}

.section5 .enviar:hover {
    background: var(--rosado);
    color: #fff;
}

@media screen and (max-width: 425px) {
    .section1 {
        padding: 0 20px;
    }

    .section1 p {
        font-size: var(--parrafoTres);
    }

    .section2 {
        padding: 50px 0;
    }

    .subtitle {
        font-size: var(--parrafoCinco);
    }

    .section2 .trabajos {
        padding: 50px 25px;
    }

    .section2 .trabajos .item img {
        height: 180px;
    }

    .QueHacemos {
        padding: 40px 0;
    }

    .QueHacemos p {
        padding: 0 0 50px 0;
    }

    .novedades {
        grid-template-columns: repeat(auto-fill, 300px);
    }
}

@media screen and (max-width: 767px) {
    .QueHacemos .item {
        width: 100%;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .QueHacemos .item img {
        height: 200px;
        width: 100%;
        object-fit: contain;
    }

    .QueHacemos .item .texto {
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
    }

    .QueHacemos .item .texto p {
        text-align: center !important;
        line-height: 26px;
    }

    .QueHacemos .item .texto a {
        color: #fff;
        border: 1px solid #fff;
    }

    .QueHacemos .item .ocultar {
        display: block;
    }

    .QueHacemos .item .mostrar {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 800px) {
    .section1 {
        padding: 0 50px;
    }

    .section1 p {
        font-size: var(--parrafoCuatro);
    }

    .section2 {
        padding: 80px 0px;
    }

    .section2 .trabajos .item p {
        padding: 0 40px;
    }
}

@media (min-width: 801px) and (max-width: 1366px) {
    .section1 {
        min-height: 300px; /*originalmente era 400*/
        padding: 0 150px; /*50px 150px*/
        text-align: center;
        background: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
    }
}
