/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
    /*Textos*/
    --parrafoUno: 12px;
    --parrafoDos: 16px;
    --parrafoTres: 18px; /*este*/
    --parrafoCuatro: 24px;
    --parrafoCinco: 32px; /*este*/
    --parrafoSeis: 36px;
    --parrafoSiete: 42px; /*este*/
    --parrafoOcho: 48px;
    --parrafoNueve: 72px;
    --parrafoDiez: 100px;

    /*Colores*/
    --morado: #6a1e74;
    --rosado: #f93b80;
    --verde: #019875;
    --azul: #2d65b4;
    --gris: #777779;

    /*Botones*/
    --borderRadius: 5px;

    /*Transiciones*/
    --transicion: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

*:focus,
*:active {
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

/*INICIO SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--rosado);
}
/*FIN SCROLL BAR*/

.header {
    width: 100%;
    position: fixed;
    top: 0px;
    /*	box-shadow: 0 2px 4px rgba(0,0,0,0.4);*/

    display: flex;
    flex-direction: column;

    z-index: 50;
    background: var(--rosado);
}

.header__edit {
    height: 40px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #181818;
}

.header__edit--welcome {
    color: #f2f2f2;
}

.header__edit ul {
    height: 100%;
    margin: 0;

    list-style: none;

    display: flex;
}

.header__edit ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.header__edit ul li:last-child {
    margin-right: 0;
}

.header__edit ul li a,
.header__edit ul li button {
    background: transparent;
    border: none;

    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    outline: 0;
}

.header__edit ul li a:hover,
.header__edit ul li button:hover {
    color: #fff;
}

.header__edit ul li a:disabled,
.header__edit ul li button:disabled {
    color: rgba(255, 255, 255, 0.4);
}

.header__public {
    width: 100%;
    height: 80px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: var(--transicion);
}

.header__public.sticky {
    background: rgba(249, 59, 128, 0.8);
    height: 56px;
}

.header .logo {
    height: 80%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.header .logo img {
    height: 100%;
}

.header .enlaces {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.header .enlaces a {
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.5);
    transition: var(--transicion);
    font-size: var(--parrafoTres);
}

.header .enlaces a:hover {
    color: #fff;
}

.header__menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    color: #fff;
    display: none !important;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 100;
}

.side-nav--visible {
    pointer-events: auto;
}

.side-nav::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav__container {
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    will-change: transform;
    background: var(--rosado);
    transform: translateX(-102%);
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav--visible::before {
    opacity: 1;
}

.side-nav--visible .side-nav__container {
    transform: none;
}

.side-nav__header {
    color: #fff;
    height: 56px;
    padding: 0 0 0 24px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    -ms-align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.side-nav__content {
    padding: 12px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.side-nav__content a li {
    height: 48px;
    line-height: 48px;
}

.side-nav__content a li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.side-nav__content a li span {
    padding: 0 0 0 24px;
    color: #fff;
}

.side-nav__container .redes {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    line-height: 48px;
}

.side-nav__container .redes a {
    color: #fff;
}

footer {
    width: 100%;
    min-height: 350px;
    background: var(--azul);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

footer p {
    margin-top: 80px;
    color: #fff;
    font-size: var(--parrafoTres);
    text-align: center;
    padding: 0 20px;

    position: relative;
    z-index: 1;
}

footer .redes {
    margin-bottom: 80px;

    position: relative;
    z-index: 1;
}

footer .redes a {
    color: #fff;
    margin: 0 20px;
    font-size: var(--parrafoCinco);
    transition: all var(--transicion);
}

footer .redes a i {
    font-size: var(--parrafoCinco);
    transition: all var(--transicion);
}
footer .redes a i:hover {
    transform: rotateY(180deg);
}

footer .footer_logo_grande {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 1rem;
    top: 50%;

    transform: translateY(-50%) rotate(-30deg);
    overflow: hidden;
}
/*
footer .footer_logo_grande img {
    height: 110%;
    width: 110%;
    object-fit: cover;
}*/

footer .footer_logo_chico {
    display: none;
}

.depro {
    width: 100%;
    text-align: center;
    font-size: 1em;
    background: #d90a6c;
    background: #282828;
    height: 70px;
}

.depro p {
    color: white;
    margin: 0;
}

.depro p span a {
    font-family: 'Audiowide', cursive;
    color: white;
    line-height: 70px;
}

@media screen and (max-width: 425px) {
    .header .logo {
        height: 50%;
    }

    footer .footer_logo_grande {
        right: -5%;
    }
}

@media (min-width: 0px) and (max-width: 1144px) {
    .header__menu-toggle {
        display: block !important;
    }

    .header .enlaces {
        display: none;
    }

    footer {
        padding-top: 50px;
    }

    footer p {
        margin-top: 20px;
    }

    footer .footer_logo_grande {
        display: none;
    }

    footer .footer_logo_chico {
        display: block;
        width: 120px;
        height: 120px;
    }

    footer .footer_logo_chico img {
        width: 100%;
        height: 100%;
    }
}
