.noticias{

	background: #f8fafd;
	padding: 150px 0;
	word-wrap: break-word
}

.gridNoticias{

	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: space-around;
	-ms-align-items: start;
	align-items: start;
	grid-gap: 50px;
	margin: 0 	auto;
	max-width: 1300px;
}

.card .novedad{
    color: #000;
}

.card .novedad img{

	height: 200px;
	width: 100%;
	object-fit: cover;
}

.card .novedad .tituloNovedad{

	font-size: var(--parrafoCuatro);
	color: #535354;
	margin: 15px 0;
	text-align: left;
	font-weight: 700;
	word-wrap: break-word;
}

.card .novedad .copete{

	color: #535354;
	font-size: var(--parrafoDos);
	text-align: left;
	font-weight: normal;
	line-height: 24px;
	word-wrap: break-word;
}

.nothing{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{

	word-wrap: break-word;
}