.noticias {
    background: #f8fafd;
    padding: 150px 0;
    word-wrap: break-word;
}

.gridNoticias {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 50px;

    justify-content: space-around;
    align-items: start;
}

.nothing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
