.noticias {
    background: #f8fafd;
    padding: 150px 0;
    word-wrap: break-word;
}

.gridNoticias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    -ms-align-items: start;
    align-items: start;
    grid-gap: 50px;
    margin: 0 auto;
    max-width: 1300px;
}

.nothing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
